@charset "utf-8";
/* CSS Document */




/*== featured box begin ==*/
#featured {
	width:957px;
	position:relative;
	height:400px;
	overflow:hidden;
}
#featured ul.ui-tabs-nav {
	position:absolute;
	top:0;
	list-style:none;
	padding:0;
	margin:0;
	width:213px;
	z-index:100;
	margin-left:100%;
	left:-213px;
}
#featured ul.ui-tabs-nav li { padding-bottom:1px;}
#featured ul.ui-tabs-nav li a { 
	display:block;
	background:#534b3f;
	padding:19px 15px 22px 33px;
	color:#b2b0ac;
	text-decoration:none;
	font-size:.91em;
	line-height:13px;
}
#featured ul.ui-tabs-nav li a:hover {
	background:#7b7367;
}
	#featured ul.ui-tabs-nav li a strong {
		display:block;
		color:#fff;
		font-size:18px;
		line-height:1.2em;
		font-weight:normal;
		margin-bottom:4px;
	}
#featured ul.ui-tabs-nav li.ui-tabs-selected a {background:url(images/arrow1.gif) 11px center no-repeat #7b7367 !important;}

#featured ul.ui-tabs-nav li.last { padding-right:0;}

#featured .ui-tabs-panel {
	position:relative;
	z-index:1000;
	width:743px;
}

#featured .ui-tabs-panel .info{ 
	width:317px;
	height:317px;
	background:#ffb911;
	color:#fff;
	line-height:1.5em;
	margin-right:1px;
}
#featured .ui-tabs-panel .info.bg1 {
	background:#ff7d01;
}
	#featured .ui-tabs-panel .info.bg1 .button {
		color:#ff7d01;
	}
	#featured .ui-tabs-panel .info.bg1 .button:hover {
		color:#000;
	}
#featured .ui-tabs-panel .info.bg2 {
	background:#8db526;
}
	#featured .ui-tabs-panel .info.bg2 .button {
		color:#8db526;
	}
	#featured .ui-tabs-panel .info.bg2 .button:hover {
		color:#000;
	}
	
	#featured .ui-tabs-panel img {
		position:absolute;
		left:318px;
		top:0;
	}
	#featured .info .inner { 
		padding:44px 32px 0 30px;
	}
		#featured .info h2{ 
			font-size:44px; 
			line-height:1.2em;
			margin-bottom:17px;
		}
		#featured .info .button {
			float:left;
			background:#fff;
			color:#ffb911;
			font-weight:bold;
			text-decoration:none;
			padding:3px 10px 4px 7px;
		}
		#featured .info .button:hover { 
			color:#000;
		}
		
		#featured .info p {
	margin-bottom:24px;
	color: #000;
		}

#featured .ui-tabs-hide { display:none; }

/*==========================================*/
cufon{text-indent:0!important;}cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}cufon{padding:0!important;}cufon canvas{display:none!important;}
